<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RADs - T7</title>
    <link rel="icon" type="image/jpg" href="/static/images/icon-2.png" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous" />
</head>

<body class="card-footer">
    <!--Navigation bar-->

    <!--Background container-->
    <div class="container-fluid background-main" id="main">
        <!--Main image-->
        <div class="container">
            <div class="row icon-margin">
                <div class="col" align="center">
                    <img class="img-fluid icon mt-5" src="/static/images/icon-4.png" alt="SAM the RADS" />
                </div>
            </div>
        </div>

        <!--Name-->
        <div class="container position-relative move-name d-none d-lg-block">
            <div class="row row-cols-auto">
                <div class="col-1 d-md-block d-none d-lg-none"></div>
                <div class="col-sm-2 d-lg-block d-md-none"></div>
                <div class="row name-card">
                    <div class="col-sm-1 col-sm-4">
                        <h3 class="pt-4 d-none d-lg-block hand">👋</h3>
                        <h3 class="pt-1 d-sm-none hand">👋</h3>
                    </div>
                    <div class="col-sm-1 col-sm-6 p-2">
                        Hi! I am <span class="name">SAM</span>
                    </div>
                </div>
            </div>
        </div>

        <!--Components-->
        <div class="container position-relative d-none d-lg-block ui-design-card">
            <div class="row row-cols-auto">
                <div class="col-7"></div>
                <div class="col skills-bubble name-card">
                    <a href="/buy-us-a-coffee">Buy us a coffee ☕️</a>
                </div>
            </div>
        </div>

        <!--Tinker this-->
        <div class="container position-relative d-none d-lg-block artist-move">
            <div class="row row-cols-auto">
                <div class="col-6 d-none d-sm-none d-md-block d-lg-block"></div>
                <div class="col artist name-card">
                    <a href="/about-us">About us 📐</a>
                </div>
            </div>
        </div>


        <!--Name card for mobile-->
        <div class="container d-block d-lg-none">
            <div class="row row-cols-auto">
                <div class="col-3"></div>
                <div class="col-6" align="center">
                    <div class="col-sm-1 col-sm-6 p-2 salute" align="center">
                        👋 Hi! I am <span class="name">Sam</span>
                    </div>
                </div>
            </div>
        </div>

        <!--Title-->
        <div class="container position-relative moving-title">
            <div class="row">
                <!--Name Card for Mobile-->
                <div class="col-12 based-in" align="center">
                    <h1 class="size-based">A friendly neighborhood</h1>
                </div>
                <div class="col-12">
                    <h1 class="title d-sm-block d-md-none d-lg-block" align="center">
                        Traffic Accident Detector
                    </h1>
                    <h2 class="title-smaller d-none d-sm-none d-md-block d-lg-none" align="center">
                        Traffic Accident Detector
                    </h2>
                </div>
            </div>
        </div>

        <!--Button Let's work-->
        <div class="container button-lets-work">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6" align="center"></div>
                <!--Line vertical-->
                <div class="col-3"></div>
                <div class="container d-flex justify-content-center">
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer-->
    <div class="container-fluid background-footer">
      <div class="row">
                <div class="col-3"></div>
                <div class="col-6" align="center"></div>
                <!--Line vertical-->
                <div class="col-3"></div>
                <div class="container d-flex justify-content-center">
                    <div class="line"></div>
                </div>
            </div>
        <div class="row">
            <!-- Choose available drinks -->

            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <h3 class="about-me-title">Swift Solutions. Exact Results.</h3>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <h3 class="title-services mt-3">for Our Community.</h3>
                    </div>

                    <!--Camera Cards-->
                    <div class="row margin-cards">
                        <!--CAMERA 1-->
                        <div class="col-lg-4 col-sm-12 margin-second-cards d-block">
                            <div class="card shadow-purple">
                                <div class="card-body" align="center">
                                    <img src="../static/images/traffic-1.gif" class="traffic-img" alt="CCTV feed">
                                    <h5 class="card-title card-yellow">Test 1</h5>
                                    <p class="card-info">
                                        104 Nguyen Thi Minh Khai, District 1
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--CAMERA 2-->
                        <div class="col-lg-4 col-sm-12 margin-second-cards d-block">
                            <div class="card shadow-purple">
                                <div class="card-body" align="center">
                                    <img src="../static/images/traffic-1.gif" class="traffic-img" alt="CCTV feed">
                                    <h5 class="card-title card-yellow">Test 2</h5>
                                    <p class="card-info">
                                        55 Vo Van Tan, District 3
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--CAMERA 3-->
                        <div class="col-lg-4 col-sm-12 margin-second-cards d-block">
                            <div class="card shadow-purple">
                                <div class="card-body" align="center">
                                    <img src="../static/images/traffic-1.gif" class="traffic-img" alt="CCTV feed">
                                    <h5 class="card-title card-yellow">Test 3</h5>
                                    <p class="card-info">
                                        174 Dien Bien Phu, District 1
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- End of menu -->
                    <div class="col-12 padding-footer">
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-6" align="center"></div>
                            <!--Line vertical-->
                            <div class="col-3"></div>
                            <div class="container d-flex justify-content-center">
                                <div class="line"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-6" align="center"></div>
                            <!--Line vertical-->
                            <div class="col-3"></div>
                            <div class="container d-flex justify-content-center">
                                <div class="line"></div>
                            </div>
                        </div>
                        <h3 align="center" class="size-quote second-part-quote mobile-size-footer">
                            Be a part of the solutions.
                        </h3>
                        <a href="/upload">
                            <button id="clean-up" value="147" class="btn clean-btn">Upload your video</button>
                        </a>
                        <div align="center">
                            <p class="footer-description">©2024 RADS Team 7. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer links-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</body>
</html>
